################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Xproduct/config
/.vs/Xproduct/FileContentIndex
/obj
/Properties
