*{
    font-family: 'Roboto';
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: #ffffff;
    /* transition: ease-in-out 1s; */
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar .logo_content {
    position: absolute;
    width: 240px;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 4;
    border-bottom: 2px solid #000;
}


.sidebar.thut {
    width: 50px;
}

.sidebar.thut .logo {
    display: none;
  }

.sidebar .logo{
    position: absolute;
    width: 90px;
    height: 32px;
    left: 45px;
    top: 9px;
}

.sidebar .nav_list {
    position: absolute;
    width: 240px;
    height: calc(100% - 50px);
    top: 50px;
    left: 0;
    padding-left: 0;
}


.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 13px;
    top: 13px;
    height: 24px;
    width: 24px;
    text-align: center;
    background-image: url(source-img/menu.png);
}


.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
}

.sidebar ul li a{
    color: #000000;
    display: flex;
    text-decoration: none;
    border-radius: 12px; 
    position: relative;
}

.sidebar ul li a div{
    background-color: #fdfdfd;
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 50px;
}

.selected {
    color: #2185D0;
    background: #fff;
}

.sidebar ul li a .selected div{
    background-color: #2185D0;
}

.sidebar ul li a div.active {
    background-color: #2185D0;
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 50px;
}

.sidebar ul li a span.active{
    color: #2185D0;
}

.sidebar ul li a:hover{
    color: #2185D0;
    background: #fff;
    filter: invert(54%) sepia(42%) saturate(2841%) hue-rotate(195deg) brightness(90%) contrast(88%);
}

.sidebar ul li a img{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 16px;
    left: 16px;
}

.sidebar ul li a span{
    position: absolute;
    height: 19px;
    top: 15px;
    left: 50px;
    font-size: 14px;
}

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
    transition: ease-in-out 1s;
    background-color: #f8fafb;
    z-index: 1;
}

.sidebar.thut + .home_content {
    width: 100%;
    left: 0;
}

.home_content .tool_bar {
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index: 2;
    border-bottom: 1px solid #F3F4F6; 
}

.home_content .tool_bar .question {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 17px;
    right: 187px;
    background-image: url(source-img/question.png);
    border: none; 
    outline: none;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.home_content .tool_bar .notification {
    position: absolute;
    width: 14px;
    height: 16px;
    top: 17px;
    right: 149px;
    background-image: url(source-img/notification.png);
    border: none; 
    outline: none;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.home_content .tool_bar .info_button{
    position: absolute;
    width: 117px;
    height: 30px;
    top: 10px;
    right: 20px;
    background-image: url(source-img/BG.png);
    border: none; 
    outline: none;
    background-color: #fff;
}

.home_content .tool_bar .question:hover {
    transform: scale(1.5);
    background-image: url(source-img/question1.png);
}

.home_content .tool_bar .notification:hover {
    transform: scale(1.5);
    background-image: url(source-img/notification1.png);
}

.home_content .tool_bar .info_button .user_avt{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 7px;
    left: 12px;
    z-index: 2;
}

.home_content .tool_bar .info_button span{
    width: 41px;
    height: 19px;
    font-size: 14px;
    left: 8px;
    z-index: 1;
}

.home_content .tool_bar .info_button .down{
    width: 12px;
    height: 6px;
    position: absolute;
    top: 12px;
    right: 14px;
    z-index: 2;
}

.home_content .user_manager{
    width: 280px;
    height: 284px;
    position: absolute;
    right: 10px;
    top: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home_content .user_manager .user_info{
    width: 280px;
    height: 72px;
    background-color: #F8F8F8;
    top: 0;
    left: 0;
}

.home_content .user_manager .user_info .show_avt {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 12px;
    left: 16px;
    border-radius: 50%;
    overflow: hidden;
    border:  #2185D0;

  }

.show_avt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home_content .user_manager .user_info .user_name_and_mail{
    position: absolute;
    height: 40px;
    left: 74px;
    top: 15px;
    font-size: 14px;
}

.home_content .user_manager .user_info .user_name_and_mail .mail {
    color: #707070;
}

.home_content .user_manager .function_list li{
    position: relative;
    height: 42.4px;
    width: 100%;
    list-style: none;
}

.home_content .user_manager .function_list li a{
    height: 100%;
    width: 100%;
}

.home_content .user_manager ul li a{
    color: #000000;
    display: flex;
    text-decoration: none;
    border-radius: 12px; 
    position: relative;
}

.home_content .user_manager ul {
    padding-left: 0;

}

.home_content .user_manager ul li a:hover{
    color: #2185D0;
    background: #fff;
}

.home_content .user_manager ul li a img{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 16px;
    left: 20px;
}

.home_content .user_manager ul li a span{
    position: absolute;
    height: 19px;
    top: 14px;
    left: 49px;
    font-size: 14px;
}

.home_content .user_manager.hidden {
    display: none;
}

.sidebar .mot_duong_ke {
    height: 0.5px;
    width: 100%;
    position: absolute;
    background-color: #F3F4F6;
    top: 49.75px;
    left: 0;
    z-index: 100000;
}

.home_content .tool_bar .info_button .username {
    color: #000;
}

.home_content .user_manager .user_info .user_name_and_mail .name {
    color: #000;
}

#btn2{
    width: 12px;
    left: 22px;
}