@model Xproduct.Models.Dto.DtoUser
@{
    Layout = null;
}
@Styles.Render("~/Contents/styles.css")
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>X Product - Find password</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Slick Carousel -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
</head>
<body>
    @Html.Hidden("Text", (string)ViewBag.a);
    <div class="login-container">
        <button type="button" class="close-form" onclick="closeForm()"></button>
        <a href="@Url.Action("Index","Login")">
            <button type="button" class="btnbacktologin" onclick="redirectToLogin()"><b>&nbsp;&nbsp;&nbsp;Đăng nhập</b></button>
        </a>
        <div class="fade">
            <div class="slide">
                <img src="~/source-img/login.png">
            </div>
            <div class="slide">
                <img src="~/source-img/signup.png">
            </div>
            <div class="slide">
                <img src="~/source-img/forgotpassword.png">
            </div>
        </div>
        <div class="login-form-container">
            <button type="button" class="close-form" onclick="closeForm()"></button>
            <center><img src="~/source-img/logo.png" class="logo"></center>
            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "login-form" }))
            {
                @*<form class="login-form" id="loginForm" onsubmit="return validateForm()">*@
                <center><p class="titleforgotpw"><b>Quên mật khẩu</b></p></center>
                <div class="input-info">
                    <label for="email" class="label">Email</label>
                    <input type="text" class="label" id="input-mail" name="email" placeholder="name@domain.com">
                </div>
                <button type="submit" class="btnsubmit"><b>Gửi mật khẩu mới qua thư điện tử</b></button>
                @*</form>*@
            }
            <div class="chu-y">
                <center><i><p class="attention"><span class="red-text"><u>Chú ý:</u></span> Mật khẩu mới sẽ được gửi tới hộp thư điện tử của bạn, vui lòng truy cập hộp thư để thực hiện đổi mật khẩu mới cho tài khoản.</p></i></center>
            </div>
        </div>
    </div>
    <script src="~/Contents/function.js?vs=@Guid.NewGuid()"></script>
    <script>
        if ($('#Text').val().length > 0) {
            alert($('#Text').val());
        }
    </script>
</body>
</html>
